@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h3 class="display-4 ; align-content-lg-stretch ; card-header ; " style=" color:brown ; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif" > Welcome To our Library </h3>
    <img class="card-img-top"
         asp-append-version="true"
         src="/images/CoverUpdate3.jpg"
         alt="Library cover" style= "height:600px;  width:900px ;" />
</div>
